<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.ted.inputer">

  <permission-group
      android:label="@string/permission_group_title"
      android:name="com.android.ted.inputer.permissions"/>
  <permission
      android:description="@string/accesses_data_permission_description"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/accesses_data_permission_title"
      android:name="com.android.ted.inputer.permission.ACCESS_DATA"
      android:permissionGroup="com.android.ted.inputer.permissions"/>

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".main.MainApplication"
      android:theme="@style/AppTheme">
    <activity
        android:label="@string/app_name"
        android:name=".debug.DebugDbActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".main.PhraseRowViewActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar"
        />

    <!--<activity-->
    <!--android:name=".debug.DebugDbActivity"-->
    <!--android:screenOrientation="portrait"-->
    <!--android:theme="@style/AppTheme.NoActionBar"-->
    <!--/>-->

    <service
        android:description="@string/app_name"
        android:label="@string/accessibility_query_window_label"
        android:name=".service.InputAccessibilityService"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService"/>
      </intent-filter>

      <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/accessibility_service_config"/>
    </service>

    <provider
        android:authorities="com.android.ted.inputer.db.cp.ArgotContentProvider"
        android:enabled="true"
        android:exported="true"
        android:grantUriPermissions="true"
        android:name=".db.cp.ArgotContentProvider"
        android:readPermission="com.android.ted.inputer.permission.ACCESS_DATA"/>

  </application>

</manifest>
